<h1>Memo List</h1>

<% @memos.each do |memo| %>
    <div class="col-sm-4">
        <div class="panel panel-warning">
            <div class="panel-heading">
            <%= memo.title %>
            <a href="/memos/<%= memo.id %>" data-method="delete">削除</a>
            </div>
            <div class="panel-body">
                <%= memo.body %>
            </div>
        </div>
    </div>
<% end %>